  body
  {
    color: rgb(114, 114, 114);
    background: rgb(154, 230, 255);
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed rgb(255, 255, 255);
    width: 350px;
    height: 300px; 
  }
  .nameOfObjects, #resultObjectName  , #resultObjectAccuracy
  {
    color: rgb(114, 114, 114);
  }
